## Merge and Clean Daily Membership csv Files

#### Import Dependencies

In [3]:
import pandas as pd
import os
from glob import glob

#### Read Data File

In [4]:
#Assigned a variable for all the csv files 
DailyMembershipFiles = ["RawData/QTRDailyMembershipData/data-7OLX8.csv","RawData/QTRDailyMembershipData/data-FKjZg.csv","RawData/QTRDailyMembershipData/data-pRAtm.csv","RawData/QTRDailyMembershipData/data-tqNn6.csv"]

#### Iterate through files to create a single dataframe with data for each month

In [5]:
dataframe = []
for d in DailyMembershipFiles:
    dataframe.append(pd.read_csv(d))
DailyMembershipframe = pd.concat(dataframe, ignore_index=True)

In [6]:
DailyMembershipframe.head()

,Date,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm)
0,1/1/2018,5499,11483,253490,123,7
1,1/2/2018,18818,39352,253558,125,12
2,1/3/2018,24299,42853,253591,164,4
3,1/4/2018,1922,5328,253604,2,1
4,1/5/2018,4972,14303,253614,14,0

### Covert merged dataset into csv file

In [7]:
DailyMembershipframe.to_csv('2018DailyMembership.csv')